.form-group-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    width: 100%;
}
.form-group-1 .form-control-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom:10px ;

}
.form-group-1 .form-control-1 input{
    flex-grow: 1;
}
.form-group-1 .form-control-1 textarea{
    flex-grow: 1;
}
.form-group-1 .form-control-1 label{
    width:100px;
}

.form-group-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

}
.form-group-2 .form-control-1 label{
    width:100px;
}
.form-buttons{
    display: flex;
    justify-content: flex-end;

}
.form-buttons button{
   width:100px;

}