.custom-backdrop{
    position: fixed;
    width:100vw;
    height:100vh;
    background-color: rgba(172, 136, 136, 0.8);
    z-index: 100;
}

.custom-modal{
    position: fixed;
    z-index: 200;
    background-color: white;
    border-radius: 10px;
    width:60%;
    height: 45%;
    margin: 0 auto;
    top:30%;
    left:20%;
}
.custom-modal-body{
    width: 100%;
    height: 100%;
}